<fieldset>
  <legend>Registration Form</legend>

  <form action="/register" method="post">
    <label for="useremail">Your Email: </label><br>
    <input type="email" name="email" id="useremail"><br>
    <label for="pass">Password: </label><br>
    <input type="password" name="password" id="pass"><br>
    <button type="submit">Register</button>
  </form>

</fieldset>